<!-- Preloader -->
<div id="preloader">
    <div class="pre-container">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- end Preloader -->


<div class="container-fluid">
    <!-- box header -->
    <header class="box-header">
        <div class="box-logo">
            <a href="index.html"><img src="{{ .Site.BaseURL }}img/logo.png" width="80" alt="Logo"></a>
        </div>
        <!-- box-nav -->
        <a class="box-primary-nav-trigger" href="#0">
            <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
        </a>
        <!-- box-primary-nav-trigger -->
    </header>
    <!-- end box header -->

    <!-- nav -->
    <nav>
        <ul class="box-primary-nav">
            {{ $currentNode := . }} {{ range .Site.Menus.main }}
              {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}
                <li class="box-label">
              {{ else }}
                <li>
              {{ end }}
              <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}


            <li class="box-label">Follow me</li>

            <li class="box-social"><a href="#0"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="#0"><i class="ion-social-instagram-outline"></i></a></li>
            <li class="box-social"><a href="#0"><i class="ion-social-twitter"></i></a></li>
            <li class="box-social"><a href="#0"><i class="ion-social-dribbble"></i></a></li>
        </ul>
    </nav>
    <!-- end nav -->
</div>
